@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 2px;
    background: #eff3f2;
    color: #565f5d;
}

hr {
    width: 100%;
    padding: 2px;
    border: none;
    background: #a3b1ae;
    margin-bottom: 15px;
    }

.container {
    max-width: 600px;
    margin: auto;
    padding-top: 30px;
}

.info {
    margin-bottom: 10px;
    display: flex;
}

.info-text {
    margin-left: 20px;
}


.info-text p {
   font-size: 14px;
   font-style: italic;
   color: #a3b1ae;
   }

.card {
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 20px;
}

.card h3 {
margin: 0px 0px 0px 20px;
}

.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.705);
    display: block;
    margin: auto;
    filter: grayscale(0.3);
}

.bg_1 {
    background-color: #d8e2e1;
}
.bg_2 {
    background-color: #b5bebe;
}
.bg_3 {
    background-color: #a5afaf;
}

a {
    color: #565f5d;
    text-decoration: none;
    /* transition-duration: 1s; */
}

a:hover {
    color: #becac9;
}

a:active {
    color: chocolate;
}

.btn {
    border: 0px;
    padding: 10px;
    border-radius: 7px;
    background: #565f5d;
    color: #d8e2e1;
    font-family: inherit;
    font-size: 18px;
    font-weight: 500;
}

.btn:hover {
    color: #ffffff;
    cursor: pointer;
}

.table {
width: 100%;
}

.table th {
    background: #a5afaf;
}

.table tr:nth-child(even) {
    background: #a5afaf;
}

.table td {
padding-left: 10px;
}

.table td:hover {
    background: #d8e2e1;
}

.list {
    padding: 0px 20px;
    list-style: circle;
}

.form {
text-align: end;
margin: 10px 0px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0px;
}

.form-group label {
    font-size: 12px;
    display: block;
}

.form-group input,
.form-group textarea {
    background: #d8e2e1;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    text-align: left;
    color: #565f5d;
    padding: 10px 0px 10px;
    outline: none;
}


@media (max-width: 500px) {
    
    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        word-spacing: 1px;
        background: #eff3f2;
        color: #565f5d;
    }
    
    hr {
        width: 100%;
        padding: 1px;
        border: none;
        background: #a3b1ae;
        margin-bottom: 10px;
        }
    
    .container {
        margin: auto;
        padding-top: 10px;
    }
    
    .info {
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }
    
    .info-text {
        margin-left: 10px;
    }
    
    
    .info-text p {
       font-size: 10px;
       font-style: italic;
       color: #a3b1ae;
       }
    
    .card {
        margin-bottom: 10px;
        padding: 10px 20px;
        border-radius: 20px;
    }
    
    .card h3 {
    margin: 0px 0px 0px 20px;
    }
    
    .avatar {
        width: 150px;
        border-radius: 50%;
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.705);
        display: block;
        margin: auto;
        filter: grayscale(0.3);
    }

    .btn {
        border: 0px;
        padding: 10px;
        border-radius: 5px;
        background: #565f5d;
        color: #d8e2e1;
        font-family: inherit;
        font-size: 12px;
        font-weight: 500;
    }

    .form-row {
        margin-bottom: 10px;
        display: block;
    }

    .form-row .form-group {
        margin-right: 10px;
        width: 100%;
    }

    .form-group input,
.form-group textarea {
    background: #d8e2e1;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    text-align: left;
    color: #565f5d;
    padding: 5px 0px 5px;
    outline: none;
}

}